.my-book-area {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  list-style: none;
  background-color: whitesmoke;
}

#my-book-images {
  margin-top: 10px;
}
