.Search-input-area {
  background-color: grey;
  margin-top: 0;
}

label {
  font-size: 30px;
}

#user-search {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
}

#search-button {
  margin-left: 5px;
}

#reading-list-link {
  margin-left: 30px;
  color: lightblue;
  text-decoration: none;
}
