.Books-area {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: 1px solid black;
  background-color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
}

section {
  display: inline-block;
}

.Book-pics {
  width: 250px;
  height: 400px;
  margin-top: 20px;
  border: 1px solid black;
}

.Titles {
  margin-bottom: 15px;
  font-size: 30px;
}

.Authors {
  margin-bottom: 15px;
  font-size: 22px;
}

.Prices {
  margin-bottom: 20px;
}

#reading-list-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkgrey;
}
